* {
    --bg-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

/* MENU ALTO */
nav {
    box-sizing: border-box;
    
    position: relative;
   
    align-items: center;
    width: 100%;
    padding: 12px 15px;
   
   
    
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-weight: 500;

}

/* MENU SINISTRA */

.left-menu-container {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-left: 10px;
    font-weight: 500;

   
}

.left-menu-container .links{
   font-size:14px;
   
}

.right-menu-container {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    
}

.links {
    color: rgb(78, 78, 78);
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    
}

.links:hover {
    text-decoration: underline;
}

.white-links {
    opacity: 1;
    margin-right: 15px;
}


.imma {
    margin-right: 20px;
}   
    

    


.icon-container svg {
    display: flex;
    height: 1.5em;
    width: 1.5rem;
    border-radius: 50%;
    padding-right: 0.5rem;
    margin-left: 5px;

    
}

.icon-container:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    cursor: pointer;
}

.icon-container .menu-pallini{
    fill: rgb(105, 105, 105);
   
}

.user{
    margin-left: 10px;

}



/* CENTER CONTAINER */

.center-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    z-index: 1;
}



/*  LOGO  */

.logo-container {
    margin-top: 63px;
    margin-bottom: -4px;
}

.logo-container img {
    width: 272px;
    display: block;
}



/* SEARCH BAR */

.searchbar-container{
    border: 1px solid #dfe1e5;
    width: 580px;
    height: 44px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
}
.searchbar-container:hover {
    box-shadow: 0 1px 4px 0 rgba(92, 92, 92, 0.2), 0 2px 10px 0 rgba(92, 92, 92, 0.19);
}


button {
    border: none;
    background-color: transparent;
}
input{
    border: none;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    width: 100%;
}

.icon-search {
   fill: #acacac;
    width: 19px;
    height: 19px;
    margin: 0 7px ;
    
    
    
    
}

.icon-microphone {
    fill: rgb(1, 107, 206);
    width: 24px;
    height: 24px;
    margin-right:8px ;
    
}


/* BUTTONS CERCA CON GOOGLE - MI SENTO FORTUNATO */


.button-1{
    background-color: #f8f9fa;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin: 28px 5px;
    color: #3c4043
  
}
.button-2{
    background-color: #f8f9fa;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin: 28px 5px;
    color: #3c4043
}

.button-1,
.button-2 {
    cursor: pointer;
}

.button-1:hover,
.button-2:hover {

    border: 1px solid rgb(220, 220, 220);
   
}

.button-1:active{
    border: 1px solid rgb(45, 100, 209);
}




/* FOOTER  */

.footer{
    background-color: #f0f0f0;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    font-size: 15px;
    color: #70757a;
   
}

.footer-links {
      
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    
   
}

.footer-left,
.footer-right,
.footer-center {
      
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 34px;
    

  
}

.footer-right{
    padding-left: 190px;
}

.footer-word {
    display: block;
    padding-right: 30px;
    white-space: nowrap;
    font-size: 14px;
    color:#70757a;
    
}

.footer-word-2 {
    display: block;
    padding-left: 35px;
    white-space: nowrap;
    font-size: 14px;
    justify-content: flex-end;
    color:#70757a;
   
    
}


.italia {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(207, 207, 207);

}



form{

    display: none;
}

@media screen and (max-width: 768px) {   
    .logo-container {
        margin-top: 120px;
        margin-bottom: -4px;
    }
    .searchbar-container{
        border: 1px solid #dfe1e5;
        width: 480px;
        height: 44px;   
    }
    .footer-right
    {
       display: flex;
      margin: auto;
        padding: 0 0 10px 0;
    }
    .footer-left{
        margin-bottom: 30px;
    }
    .footer-links{
        justify-content: center;
    }

    .footer-links :nth-child(1){
        order: 2;
    }
    .footer-links :nth-child(3){
        order:2;
    }
  }


